# Problem Statement

When working for a consumer finance company which specialises in lending various types of loans to urban customers, every loan application to the organisation brings in two types of risk with the bank’s decision-

  <b>1. Not approving a loan to a good customer is loss to business</b>
  <br>
  <b>2. Approving loan to a customer who might default loan payment is a financial loss.</b>
   
Analysing past consumer traits might help the lending organisation to filter out customer who is probable to default a loan. Prime objective of this project is to understand borrower traits and identify the driver variables that would determine if a customer is probable to default the loan payment.

The provided dataset is loan.csv file, that contains information about past loan applicants and whether they ‘defaulted’ or not.

When a person applies for a loan, there are two types of decisions that could be taken by the company:
- <b>Loan accepted:</b> If the company approves the loan, there are 3 possible scenarios described below:<br><br>
  - Fully paid: Applicant has fully paid the loan (the principal and the interest rate)
  - Current: Applicant is in the process of paying the instalments, i.e. the tenure of the loan is not yet completed. These candidates are not labelled as 'defaulted'.

  - Charged-off: Applicant has not paid the instalments in due time for a long period of time, i.e. he/she has defaulted on the loan <br>
<br>
- <b>Loan rejected:</b> The company had rejected the loan (because the candidate does not meet their requirements etc.). 
<br>

Since the loan was rejected, there is no transactional history of those applicants with the company and so this data is not available with the company (and thus in this dataset)

Analysig the file we need to identify patterns which indicate if a person is likely to default, which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc.

We have used EDA to understand how consumer attributes and loan attributes influence the tendency of default.

#### Importing the packages

In [55]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### Reading the dataset

In [56]:
df=pd.read_csv('loan.csv')
pd.set_option('display.max_columns',None)
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## Data Understanding & Cleaning

Here we understand the data & its significance and based on that we perfom cleaning as and when needed
##### Cleaning includes:
- Fixing rows & columns
- Fixing missing values
- Standardizing values
- Fixing invalid values
- Filtering Data

#### Checking the brief summary of the dataframe to 
- find total number of rows & columns before any processsing
- Columns names and data types
- Getting brief statistical information of the data which helps to form an idea about the values like range(min & max),percentiles(25,50 & 75),standard deviation(std), etc
- Checking for duplicate rows if any throughout the dataframe. Oberved below that there is no duplicate row.

In [57]:
#Understanding data
print(df.shape)
print(df.info(verbose=True,null_counts=True))
print(df.describe())
print("Number of duplicate rows: ",len(df[df.duplicated()]))

(39717, 111)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              39717 non-null  int64
 1   member_id                       39717 non-null  int64
 2   loan_amnt                       39717 non-null  int64
 3   funded_amnt                     39717 non-null  int64
 4   funded_amnt_inv                 39717 non-null  float64
 5   term                            39717 non-null  object
 6   int_rate                        39717 non-null  object
 7   installment                     39717 non-null  float64
 8   grade                           39717 non-null  object
 9   sub_grade                       39717 non-null  object
 10  emp_title                       37258 non-null  object
 11  emp_length                      38642 non-null  object
 12  home_ownership                  39717 non-null  object
 13  annual_inc                      39717 non-null  float64
 14  verification_status             39717 non-null  object
 15  issue_d                         39717 non-null  object
 16  loan_status                     39717 non-null  object
 17  pymnt_plan                      39717 non-null  object
 18  url                             39717 non-null  object
 19  desc                            26777 non-null  object
 20  purpose                         39717 non-null  object
 21  title                           39706 non-null  object
 22  zip_code                        39717 non-null  object
 23  addr_state                      39717 non-null  object
 24  dti                             39717 non-null  float64
 25  delinq_2yrs                     39717 non-null  int64
 26  earliest_cr_line                39717 non-null  object
 27  inq_last_6mths                  39717 non-null  int64
 28  mths_since_last_delinq          14035 non-null  float64
 29  mths_since_last_record          2786 non-null   float64
 30  open_acc                        39717 non-null  int64
 31  pub_rec                         39717 non-null  int64
 32  revol_bal                       39717 non-null  int64
 33  revol_util                      39667 non-null  object
 34  total_acc                       39717 non-null  int64
 35  initial_list_status             39717 non-null  object
 36  out_prncp                       39717 non-null  float64
 37  out_prncp_inv                   39717 non-null  float64
 38  total_pymnt                     39717 non-null  float64
 39  total_pymnt_inv                 39717 non-null  float64
 40  total_rec_prncp                 39717 non-null  float64
 41  total_rec_int                   39717 non-null  float64
 42  total_rec_late_fee              39717 non-null  float64
 43  recoveries                      39717 non-null  float64
 44  collection_recovery_fee         39717 non-null  float64
 45  last_pymnt_d                    39646 non-null  object
 46  last_pymnt_amnt                 39717 non-null  float64
 47  next_pymnt_d                    1140 non-null   object
 48  last_credit_pull_d              39715 non-null  object
 49  collections_12_mths_ex_med      39661 non-null  float64
 50  mths_since_last_major_derog     0 non-null      float64
 51  policy_code                     39717 non-null  int64
 52  application_type                39717 non-null  object
 53  annual_inc_joint                0 non-null      float64
 54  dti_joint                       0 non-null      float64
 55  verification_status_joint       0 non-null      float64
 56  acc_now_delinq                  39717 non-null  int64
 57  tot_coll_amt                    0 non-null      float64
 58  tot_cur_bal                     0 non-null      float64
 59  open_acc_6m                     0 non-null      float64
 60  open_il_6m                      0 non-null      float64
 61  open_il_12m                     0 non-null      float64
 62  open_il_24m                     0 non-null      float64
 63  mths_since_rcnt_il              0 non-null      float64
 64  total_bal_il                    0 non-null      float64
 65  il_util                         0 non-null      float64
 66  open_rv_12m                     0 non-null      float64
 67  open_rv_24m                     0 non-null      float64
 68  max_bal_bc                      0 non-null      float64
 69  all_util                        0 non-null      float64
 70  total_rev_hi_lim                0 non-null      float64
 71  inq_fi                          0 non-null      float64
 72  total_cu_tl                     0 non-null      float64
 73  inq_last_12m                    0 non-null      float64
 74  acc_open_past_24mths            0 non-null      float64
 75  avg_cur_bal                     0 non-null      float64
 76  bc_open_to_buy                  0 non-null      float64
 77  bc_util                         0 non-null      float64
 78  chargeoff_within_12_mths        39661 non-null  float64
 79  delinq_amnt                     39717 non-null  int64
 80  mo_sin_old_il_acct              0 non-null      float64
 81  mo_sin_old_rev_tl_op            0 non-null      float64
 82  mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83  mo_sin_rcnt_tl                  0 non-null      float64
 84  mort_acc                        0 non-null      float64
 85  mths_since_recent_bc            0 non-null      float64
 86  mths_since_recent_bc_dlq        0 non-null      float64
 87  mths_since_recent_inq           0 non-null      float64
 88  mths_since_recent_revol_delinq  0 non-null      float64
 89  num_accts_ever_120_pd           0 non-null      float64
 90  num_actv_bc_tl                  0 non-null      float64
 91  num_actv_rev_tl                 0 non-null      float64
 92  num_bc_sats                     0 non-null      float64
 93  num_bc_tl                       0 non-null      float64
 94  num_il_tl                       0 non-null      float64
 95  num_op_rev_tl                   0 non-null      float64
 96  num_rev_accts                   0 non-null      float64
 97  num_rev_tl_bal_gt_0             0 non-null      float64
 98  num_sats                        0 non-null      float64
 99  num_tl_120dpd_2m                0 non-null      float64
 100 num_tl_30dpd                    0 non-null      float64
 101 num_tl_90g_dpd_24m              0 non-null      float64
 102 num_tl_op_past_12m              0 non-null      float64
 103 pct_tl_nvr_dlq                  0 non-null      float64
 104 percent_bc_gt_75                0 non-null      float64
 105 pub_rec_bankruptcies            39020 non-null  float64
 106 tax_liens                       39678 non-null  float64
 107 tot_hi_cred_lim                 0 non-null      float64
 108 total_bal_ex_mort               0 non-null      float64
 109 total_bc_limit                  0 non-null      float64
 110 total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None
                 id     member_id     loan_amnt   funded_amnt  \
count  3.971700e+04  3.971700e+04  39717.000000  39717.000000
mean   6.831319e+05  8.504636e+05  11219.443815  10947.713196
std    2.106941e+05  2.656783e+05   7456.670694   7187.238670
min    5.473400e+04  7.069900e+04    500.000000    500.000000
25%    5.162210e+05  6.667800e+05   5500.000000   5400.000000
50%    6.656650e+05  8.508120e+05  10000.000000   9600.000000
75%    8.377550e+05  1.047339e+06  15000.000000  15000.000000
max    1.077501e+06  1.314167e+06  35000.000000  35000.000000

       funded_amnt_inv   installment    annual_inc           dti  \
count     39717.000000  39717.000000  3.971700e+04  39717.000000
mean      10397.448868    324.561922  6.896893e+04     13.315130
std        7128.450439    208.874874  6.379377e+04      6.678594
min           0.000000     15.690000  4.000000e+03      0.000000
25%        5000.000000    167.020000  4.040400e+04      8.170000
50%        8975.000000    280.220000  5.900000e+04     13.400000
75%       14400.000000    430.780000  8.230000e+04     18.600000
max       35000.000000   1305.190000  6.000000e+06     29.990000

        delinq_2yrs  inq_last_6mths  mths_since_last_delinq  \
count  39717.000000    39717.000000            14035.000000
mean       0.146512        0.869200               35.900962
std        0.491812        1.070219               22.020060
min        0.000000        0.000000                0.000000
25%        0.000000        0.000000               18.000000
50%        0.000000        1.000000               34.000000
75%        0.000000        1.000000               52.000000
max       11.000000        8.000000              120.000000

       mths_since_last_record      open_acc       pub_rec      revol_bal  \
count             2786.000000  39717.000000  39717.000000   39717.000000
mean                69.698134      9.294408      0.055065   13382.528086
std                 43.822529      4.400282      0.237200   15885.016641
min                  0.000000      2.000000      0.000000       0.000000
25%                 22.000000      6.000000      0.000000    3703.000000
50%                 90.000000      9.000000      0.000000    8850.000000
75%                104.000000     12.000000      0.000000   17058.000000
max                129.000000     44.000000      4.000000  149588.000000

          total_acc     out_prncp  out_prncp_inv   total_pymnt  \
count  39717.000000  39717.000000   39717.000000  39717.000000
mean      22.088828     51.227887      50.989768  12153.596544
std       11.401709    375.172839     373.824457   9042.040766
min        2.000000      0.000000       0.000000      0.000000
25%       13.000000      0.000000       0.000000   5576.930000
50%       20.000000      0.000000       0.000000   9899.640319
75%       29.000000      0.000000       0.000000  16534.433040
max       90.000000   6311.470000    6307.370000  58563.679930

       total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
count     39717.000000     39717.000000   39717.000000        39717.000000
mean      11567.149118      9793.348813    2263.663172            1.363015
std        8942.672613      7065.522127    2608.111964            7.289979
min           0.000000         0.000000       0.000000            0.000000
25%        5112.310000      4600.000000     662.180000            0.000000
50%        9287.150000      8000.000000    1348.910000            0.000000
75%       15798.810000     13653.260000    2833.400000            0.000000
max       58563.680000     35000.020000   23563.680000          180.200000

         recoveries  collection_recovery_fee  last_pymnt_amnt  \
count  39717.000000             39717.000000     39717.000000
mean      95.221624                12.406112      2678.826162
std      688.744771               148.671593      4447.136012
min        0.000000                 0.000000         0.000000
25%        0.000000                 0.000000       218.680000
50%        0.000000                 0.000000       546.140000
75%        0.000000                 0.000000      3293.160000
max    29623.350000              7002.190000     36115.200000

       collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
count                     39661.0                          0.0      39717.0
mean                          0.0                          NaN          1.0
std                           0.0                          NaN          0.0
min                           0.0                          NaN          1.0
25%                           0.0                          NaN          1.0
50%                           0.0                          NaN          1.0
75%                           0.0                          NaN          1.0
max                           0.0                          NaN          1.0

       annual_inc_joint  dti_joint  verification_status_joint  acc_now_delinq  \
count               0.0        0.0                        0.0         39717.0
mean                NaN        NaN                        NaN             0.0
std                 NaN        NaN                        NaN             0.0
min                 NaN        NaN                        NaN             0.0
25%                 NaN        NaN                        NaN             0.0
50%                 NaN        NaN                        NaN             0.0
75%                 NaN        NaN                        NaN             0.0
max                 NaN        NaN                        NaN             0.0

       tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  open_il_12m  \
count           0.0          0.0          0.0         0.0          0.0
mean            NaN          NaN          NaN         NaN          NaN
std             NaN          NaN          NaN         NaN          NaN
min             NaN          NaN          NaN         NaN          NaN
25%             NaN          NaN          NaN         NaN          NaN
50%             NaN          NaN          NaN         NaN          NaN
75%             NaN          NaN          NaN         NaN          NaN
max             NaN          NaN          NaN         NaN          NaN

       open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  \
count          0.0                 0.0           0.0      0.0          0.0
mean           NaN                 NaN           NaN      NaN          NaN
std            NaN                 NaN           NaN      NaN          NaN
min            NaN                 NaN           NaN      NaN          NaN
25%            NaN                 NaN           NaN      NaN          NaN
50%            NaN                 NaN           NaN      NaN          NaN
75%            NaN                 NaN           NaN      NaN          NaN
max            NaN                 NaN           NaN      NaN          NaN

       open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
count          0.0         0.0       0.0               0.0     0.0
mean           NaN         NaN       NaN               NaN     NaN
std            NaN         NaN       NaN               NaN     NaN
min            NaN         NaN       NaN               NaN     NaN
25%            NaN         NaN       NaN               NaN     NaN
50%            NaN         NaN       NaN               NaN     NaN
75%            NaN         NaN       NaN               NaN     NaN
max            NaN         NaN       NaN               NaN     NaN

       total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
count          0.0           0.0                   0.0          0.0
mean           NaN           NaN                   NaN          NaN
std            NaN           NaN                   NaN          NaN
min            NaN           NaN                   NaN          NaN
25%            NaN           NaN                   NaN          NaN
50%            NaN           NaN                   NaN          NaN
75%            NaN           NaN                   NaN          NaN
max            NaN           NaN                   NaN          NaN

       bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
count             0.0      0.0                   39661.0      39717.0
mean              NaN      NaN                       0.0          0.0
std               NaN      NaN                       0.0          0.0
min               NaN      NaN                       0.0          0.0
25%               NaN      NaN                       0.0          0.0
50%               NaN      NaN                       0.0          0.0
75%               NaN      NaN                       0.0          0.0
max               NaN      NaN                       0.0          0.0

       mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
count                 0.0                   0.0                    0.0
mean                  NaN                   NaN                    NaN
std                   NaN                   NaN                    NaN
min                   NaN                   NaN                    NaN
25%                   NaN                   NaN                    NaN
50%                   NaN                   NaN                    NaN
75%                   NaN                   NaN                    NaN
max                   NaN                   NaN                    NaN

       mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  \
count             0.0       0.0                   0.0
mean              NaN       NaN                   NaN
std               NaN       NaN                   NaN
min               NaN       NaN                   NaN
25%               NaN       NaN                   NaN
50%               NaN       NaN                   NaN
75%               NaN       NaN                   NaN
max               NaN       NaN                   NaN

       mths_since_recent_bc_dlq  mths_since_recent_inq  \
count                       0.0                    0.0
mean                        NaN                    NaN
std                         NaN                    NaN
min                         NaN                    NaN
25%                         NaN                    NaN
50%                         NaN                    NaN
75%                         NaN                    NaN
max                         NaN                    NaN

       mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  \
count                             0.0                    0.0             0.0
mean                              NaN                    NaN             NaN
std                               NaN                    NaN             NaN
min                               NaN                    NaN             NaN
25%                               NaN                    NaN             NaN
50%                               NaN                    NaN             NaN
75%                               NaN                    NaN             NaN
max                               NaN                    NaN             NaN

       num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  \
count              0.0          0.0        0.0        0.0            0.0
mean               NaN          NaN        NaN        NaN            NaN
std                NaN          NaN        NaN        NaN            NaN
min                NaN          NaN        NaN        NaN            NaN
25%                NaN          NaN        NaN        NaN            NaN
50%                NaN          NaN        NaN        NaN            NaN
75%                NaN          NaN        NaN        NaN            NaN
max                NaN          NaN        NaN        NaN            NaN

       num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  \
count            0.0                  0.0       0.0               0.0
mean             NaN                  NaN       NaN               NaN
std              NaN                  NaN       NaN               NaN
min              NaN                  NaN       NaN               NaN
25%              NaN                  NaN       NaN               NaN
50%              NaN                  NaN       NaN               NaN
75%              NaN                  NaN       NaN               NaN
max              NaN                  NaN       NaN               NaN

       num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
count           0.0                 0.0                 0.0             0.0
mean            NaN                 NaN                 NaN             NaN
std             NaN                 NaN                 NaN             NaN
min             NaN                 NaN                 NaN             NaN
25%             NaN                 NaN                 NaN             NaN
50%             NaN                 NaN                 NaN             NaN

Number of duplicate rows:  0

#### Inferences:
- Observed that the dataset contains 39717 rows and 111 columns
- Memory usage is 33.6 MB
- There are no duplicate records in the dataset
- There are lot of null values in multiple columns

In [58]:
print("Percentage of null: ",round((df.isnull().sum().sum())/(df.shape[0]*df.shape[1])*100,2),'%')

Percentage of null:  51.34 %

Since we see there are numerous columns with null values throughout the sample. Having more than half of null values in a column would not make sense for our analysis. Lets us drop the columns that have more that 60% of nulls values.

In [59]:
df.dropna(thresh = df.shape[0]*0.6, how = 'all', axis = 1, inplace = True)

In [60]:
print("Dataset shape: ", df.shape)
print(df.isnull().sum())
print("Percentage of null: ",round((df.isnull().sum().sum())/(df.shape[0]*df.shape[1])*100,2),'%')

Dataset shape:  (39717, 54)
id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64
Percentage of null:  0.81 %

We have reduced to only 0.81% nulls with 54 columns. Next we need to figure out which parameters are still resulting to missing values and how we can handle those

Checking contents of each elements & deciding how to proceed

In [61]:

for i in df.columns:
    print("Value counts for column "+i)
    print(df[i].value_counts())
    print("_______________________________________________________________________________")

Value counts for column id
1052670    1
685540     1
253425     1
730606     1
867821     1
          ..
807743     1
1006398    1
1000253    1
871228     1
380631     1
Name: id, Length: 39717, dtype: int64
_______________________________________________________________________________
Value counts for column member_id
745584     1
900541     1
634745     1
943558     1
896958     1
          ..
875198     1
803517     1
1264316    1
942777     1
1251331    1
Name: member_id, Length: 39717, dtype: int64
_______________________________________________________________________________
Value counts for column loan_amnt
10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
12525       1
16675       1
6175        1
22300       1
28750       1
Name: loan_amnt, Length: 885, dtype: int64
_______________________________________________________________________________
Value counts for column funded_amnt
10000    2741
12000    2244
5000     2040
6000     1898
15000    1784
         ...
25675       1
1475        1
30400       1
24275       1
28750       1
Name: funded_amnt, Length: 1041, dtype: int64
_______________________________________________________________________________
Value counts for column funded_amnt_inv
5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
13994.969990       1
21567.647640       1
18827.228540       1
1349.117393        1
7423.355587        1
Name: funded_amnt_inv, Length: 8205, dtype: int64
_______________________________________________________________________________
Value counts for column term
 36 months    29096
 60 months    10621
Name: term, dtype: int64
_______________________________________________________________________________
Value counts for column int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
22.64%      1
20.52%      1
18.72%      1
16.01%      1
16.20%      1
Name: int_rate, Length: 371, dtype: int64
_______________________________________________________________________________
Value counts for column installment
311.11    68
180.96    59
311.02    54
150.80    48
368.45    46
          ..
883.88     1
726.19     1
279.19     1
632.84     1
759.63     1
Name: installment, Length: 15383, dtype: int64
_______________________________________________________________________________
Value counts for column grade
B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64
_______________________________________________________________________________
Value counts for column sub_grade
B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64
_______________________________________________________________________________
Value counts for column emp_title
US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
seton northwest hospital               1
OCM Lee Hecht Harrison                 1
Concord General Contracting, Inc.      1
PrePak Systems                         1
Conway Freight                         1
Name: emp_title, Length: 28820, dtype: int64
_______________________________________________________________________________
Value counts for column emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64
_______________________________________________________________________________
Value counts for column home_ownership
RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64
_______________________________________________________________________________
Value counts for column annual_inc
60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
31404.0       1
36184.8       1
81972.0       1
9840.0        1
69582.0       1
Name: annual_inc, Length: 5318, dtype: int64
_______________________________________________________________________________
Value counts for column verification_status
Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64
_______________________________________________________________________________
Value counts for column issue_d
Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
Jul-11    1870
Jun-11    1827
May-11    1689
Apr-11    1562
Mar-11    1443
Jan-11    1380
Feb-11    1297
Dec-10    1267
Oct-10    1132
Nov-10    1121
Jul-10    1119
Sep-10    1086
Aug-10    1078
Jun-10    1029
May-10     920
Apr-10     827
Mar-10     737
Feb-10     627
Nov-09     602
Dec-09     598
Jan-10     589
Oct-09     545
Sep-09     449
Aug-09     408
Jul-09     374
Jun-09     356
May-09     319
Apr-09     290
Mar-09     276
Feb-09     260
Jan-09     239
Mar-08     236
Dec-08     223
Nov-08     184
Feb-08     174
Jan-08     171
Apr-08     155
Oct-08      96
Dec-07      85
Jul-08      83
May-08      71
Aug-08      71
Jun-08      66
Oct-07      47
Nov-07      37
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, dtype: int64
_______________________________________________________________________________
Value counts for column loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64
_______________________________________________________________________________
Value counts for column pymnt_plan
n    39717
Name: pymnt_plan, dtype: int64
_______________________________________________________________________________
Value counts for column url
https://lendingclub.com/browse/loanDetail.action?loan_id=840561     1
https://lendingclub.com/browse/loanDetail.action?loan_id=516506     1
https://lendingclub.com/browse/loanDetail.action?loan_id=970665     1
https://lendingclub.com/browse/loanDetail.action?loan_id=860597     1
https://lendingclub.com/browse/loanDetail.action?loan_id=572615     1
                                                                   ..
https://lendingclub.com/browse/loanDetail.action?loan_id=759237     1
https://lendingclub.com/browse/loanDetail.action?loan_id=498697     1
https://lendingclub.com/browse/loanDetail.action?loan_id=556565     1
https://lendingclub.com/browse/loanDetail.action?loan_id=490281     1
https://lendingclub.com/browse/loanDetail.action?loan_id=1004390    1
Name: url, Length: 39717, dtype: int64
_______________________________________________________________________________
Value counts for column desc
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                6
credit card debt consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ...
  Borrower added on 05/15/10 > Using this to pay off two high-interest credit cards in my quest to become debt-free.  Have already cut up the cards.  I have a steady, well-paying job at Disney where I have worked for 8 years.  Thank you very much for your consideration.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
I own a specialty chemical company that is 23+ years old, making high-tech niche market products to the aviation and petroleum industries. Most customers are either commercial, military, or governmental. Since I own my home outright, out of personal principles I will not borrow against it which is why I used my personal credit cards at relatively high interest rates primarily for a home addition, improvements and furnishings. Except for a company credit card which is paid regularly by the business, I am debt-free.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1

Debt Consolidation                 2184
Debt Consolidation Loan            1729
Personal Loan                       659
Consolidation                       517
debt consolidation                  505
                                   ...
I need a better rate                  1
Stav                                  1
On my way to financial freedom!       1
Brittani's loan                       1
Lockhart                              1
Name: title, Length: 19615, dtype: int64
_______________________________________________________________________________
Value counts for column zip_code
100xx    597
945xx    545
112xx    516
606xx    503
070xx    473
        ...
378xx      1
884xx      1
369xx      1
384xx      1
965xx      1
Name: zip_code, Length: 823, dtype: int64
_______________________________________________________________________________
Value counts for column addr_state
CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64
_______________________________________________________________________________
Value counts for column dti
0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
26.06      1
28.95      1
25.28      1
27.36      1
28.48      1
Name: dti, Length: 2868, dtype: int64
_______________________________________________________________________________
Value counts for column delinq_2yrs
0     35405
1      3303
2       687
3       220
4        62
5        22
6        10
7         4
8         2
11        1
9         1
Name: delinq_2yrs, dtype: int64
_______________________________________________________________________________
Value counts for column earliest_cr_line
Nov-98    370
Oct-99    366
Dec-98    348
Oct-00    346
Dec-97    329
         ...
Dec-63      1
Sep-56      1
Oct-54      1
Oct-74      1
Apr-66      1
Name: earliest_cr_line, Length: 526, dtype: int64
_______________________________________________________________________________
Value counts for column inq_last_6mths
0    19300
1    10971
2     5812
3     3048
4      326
5      146
6       64
7       35
8       15
Name: inq_last_6mths, dtype: int64
_______________________________________________________________________________
Value counts for column open_acc
7     4018
6     3946
8     3936
9     3718
10    3223
5     3183
11    2746
4     2343
12    2273
13    1911
3     1493
14    1487
15    1177
16     940
17     741
2      605
18     533
19     396
20     289
21     244
22     143
23      97
24      81
25      55
26      34
28      25
27      22
30      15
29      13
31       7
34       5
35       4
32       4
33       3
36       2
38       1
39       1
41       1
42       1
44       1
Name: open_acc, dtype: int64
_______________________________________________________________________________
Value counts for column pub_rec
0    37601
1     2056
2       51
3        7
4        2
Name: pub_rec, dtype: int64
_______________________________________________________________________________
Value counts for column revol_bal
0         994
255        14
298        14
1          12
682        11
         ...
100072      1
33021       1
43256       1
57585       1
28798       1
Name: revol_bal, Length: 21711, dtype: int64
_______________________________________________________________________________
Value counts for column revol_util
0%        977
0.20%      63
63%        62
0.10%      58
40.70%     58
         ...
38.77%      1
33.26%      1
11.62%      1
10.61%      1
21.59%      1
Name: revol_util, Length: 1089, dtype: int64
_______________________________________________________________________________
Value counts for column total_acc
16    1471
15    1462
17    1457
14    1445
20    1428
      ...
70       1
71       1
72       1
73       1
69       1
Name: total_acc, Length: 82, dtype: int64
_______________________________________________________________________________
Value counts for column initial_list_status
f    39717
Name: initial_list_status, dtype: int64
_______________________________________________________________________________
Value counts for column out_prncp
0.00       38577
827.13         2
2277.11        2
1972.60        2
2963.24        2
           ...
1001.31        1
3373.62        1
3505.27        1
952.95         1
40.65          1
Name: out_prncp, Length: 1137, dtype: int64
_______________________________________________________________________________
Value counts for column out_prncp_inv
0.00       38577
1972.60        2
827.13         2
1664.64        2
1143.70        1
           ...
1887.01        1
322.04         1
2468.75        1
185.19         1
205.10         1
Name: out_prncp_inv, Length: 1138, dtype: int64
_______________________________________________________________________________
Value counts for column total_pymnt
11196.569430    26
0.000000        16
11784.232230    16
10956.775960    16
13148.137860    15
                ..
5627.546774      1
32897.190000     1
31624.045580     1
2885.006447      1
5933.760000      1
Name: total_pymnt, Length: 37850, dtype: int64
_______________________________________________________________________________
Value counts for column total_pymnt_inv
0.00        165
6514.52      16
13148.14     14
5478.39      14
11196.57     12
           ...
742.58        1
3968.71       1
12282.05      1
4234.31       1
10679.62      1
Name: total_pymnt_inv, Length: 37518, dtype: int64
_______________________________________________________________________________
Value counts for column total_rec_prncp
10000.00    2293
12000.00    1805
5000.00     1702
6000.00     1637
15000.00    1400
            ...
664.25         1
12127.06       1
2957.46        1
19000.01       1
1446.22        1
Name: total_rec_prncp, Length: 7976, dtype: int64
_______________________________________________________________________________
Value counts for column total_rec_int
0.00       71
1196.57    26
514.52     19
1784.23    17
956.78     17
           ..
224.15      1
542.89      1
1739.63     1
969.70      1
888.43      1
Name: total_rec_int, Length: 35148, dtype: int64
_______________________________________________________________________________
Value counts for column total_rec_late_fee
0.000000     37671
15.000000      255
15.000000       58
30.000000       55
15.000000       47
             ...
44.840000        1
16.010000        1
29.914662        1
23.820000        1
47.307614        1
Name: total_rec_late_fee, Length: 1356, dtype: int64
_______________________________________________________________________________
Value counts for column recoveries
0.00      35499
10.40         4
11.29         4
19.20         3
13.59         3
          ...
240.15        1
385.70        1
995.74        1
176.49        1
269.31        1
Name: recoveries, Length: 4040, dtype: int64
_______________________________________________________________________________
Value counts for column collection_recovery_fee
0.0000      35935
2.0000         12
1.2000         10
3.7100          9
1.8800          8
            ...
340.0000        1
6.9239          1
33.2896         1
9.6738          1
20.6521         1
Name: collection_recovery_fee, Length: 2616, dtype: int64
_______________________________________________________________________________
Value counts for column last_pymnt_d
May-16    1256
Mar-13    1026
Dec-14     945
May-13     907
Feb-13     869
          ...
Nov-08      10
Jun-08      10
Mar-08       5
Jan-08       4
Feb-08       1
Name: last_pymnt_d, Length: 101, dtype: int64
_______________________________________________________________________________
Value counts for column last_pymnt_amnt
0.00      74
276.06    21
200.00    17
50.00     16
100.00    15
          ..
338.97     1
187.67     1
750.52     1
319.56     1
694.85     1
Name: last_pymnt_amnt, Length: 34930, dtype: int64
_______________________________________________________________________________
Value counts for column last_credit_pull_d
May-16    10308
Apr-16     2547
Mar-16     1123
Feb-13      843
Feb-16      736
          ...
Jun-08        1
May-07        1
May-08        1
Jul-08        1
Jul-07        1
Name: last_credit_pull_d, Length: 106, dtype: int64
_______________________________________________________________________________
Value counts for column collections_12_mths_ex_med
0.0    39661
Name: collections_12_mths_ex_med, dtype: int64
_______________________________________________________________________________
Value counts for column policy_code
1    39717
Name: policy_code, dtype: int64
_______________________________________________________________________________
Value counts for column application_type
INDIVIDUAL    39717
Name: application_type, dtype: int64
_______________________________________________________________________________
Value counts for column acc_now_delinq
0    39717
Name: acc_now_delinq, dtype: int64
_______________________________________________________________________________
Value counts for column chargeoff_within_12_mths
0.0    39661
Name: chargeoff_within_12_mths, dtype: int64
_______________________________________________________________________________
Value counts for column delinq_amnt
0    39717
Name: delinq_amnt, dtype: int64
_______________________________________________________________________________
Value counts for column pub_rec_bankruptcies
0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64
_______________________________________________________________________________
Value counts for column tax_liens
0.0    39678
Name: tax_liens, dtype: int64
_______________________________________________________________________________

- Dropping 'id','member_id' & 'url' since it cannot be among driver variable due to their uniqueness
- 'emp_title' since it is not signifying the type of job mainly the job security of the person.
- The 'desc' and 'title' are conveying same meaning as purpose while later being more compact. 
- 'pymnt_plan', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'initial_list_status' & 'tax_liens' has all same values throughout which has no new significance
- earliest_cr_line since considering the first time loan is not holding any value here

In [ ]:
df=df.drop(columns=['id','member_id','emp_title','initial_list_status','earliest_cr_line','desc','title','pymnt_plan','url','collections_12_mths_ex_med','policy_code','application_type','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens'],axis=1)

Removing 'Current' loans from loan_status since it is still in progress we cannot draw promising inference from it

In [ ]:
df=df[df.loan_status!='Current']
df.shape

Removing less significant columns, now there are 38 columns to be analysed.

Checking the values in each column with Dtype object because they have high chance of having distorted value than their original form

In [ ]:
for i in df.columns[df.dtypes =='object']:
    print("Distinct value counts for column "+i)
    print(df[i].value_counts())
    print("__________________________________________")

#### Data standardisation and fixing values
- Converting loan term and int_rate to integer value
- fixing emp_length column to hold uniform values
- merging 'Source Verified' & 'Verified' as since either way it is verified
- fixing revol_util column removing % symbol and converting it to float
- Filling null values of revol_util with median value

In [ ]:
df.term=df.term.apply(lambda x: int(x.split()[0]))
df.int_rate=df.int_rate.apply(lambda x: float(x[:-1]))

In [ ]:
#fixing emp_length column 
df.emp_length=df.emp_length.apply(lambda x: str(x).split()[0])
df.emp_length=df.emp_length.replace('10+','10')
df.emp_length=df.emp_length.replace('<','0')
df=df[df.emp_length!= 'nan']
df.emp_length=df.emp_length.astype('int')

In [ ]:
# merging 'Source Verified' & 'Verified' as since either way it is verified
df.verification_status=df.verification_status.apply(lambda x: "Verified" if x=="Source Verified" else x)

In [ ]:
#fixing revol_util column
df['revol_util']=df[~df['revol_util'].isna()]['revol_util'].apply(lambda x: x[:-1])

In [ ]:
print("Median: ", df.revol_util.astype('float').median())
print("Mean: ", round(df.revol_util.astype('float').mean(),2))

Mean & median is nearly equal so we can infer there is no outliers for this column. Thus, filling missing values in with median

In [ ]:
df.revol_util.fillna(df.revol_util.astype('float').median(), inplace=True)
df.revol_util=df.revol_util.astype('float')

Let's check the min & max value for int_rate and group it into 3 categories High, Medium & Low

In [ ]:
df.int_rate.describe()

### Derived columns


Extracting month & year from issue date column

In [ ]:
df['issue_month'] = df['issue_d'].apply(lambda x: x.split("-")[0]).astype('str')
df['issue_year'] = df['issue_d'].apply(lambda x: str(20)+x.split("-")[1]).astype('int')

We can create a derived column like 'dti' naming 'lti' i.e. loan_to_income ratio using loan_amt & annual_inc,thus combining both to 1. We are not considering funded amount here because while applying for loan we are not sure of how much amount gets funded

#### Data driven derived metrics

In [ ]:
#data driven derived metrics from loan_amnt & annual_inc
df['Lti']=round(df.loan_amnt/df.annual_inc,2)

#### Business driven derived Metrics
Adding profit and loss column funded amount and payment received.

In [ ]:
df['profit_loss'] =(df['total_pymnt']-df['funded_amnt'])*100/df['funded_amnt']

Creating int_rate_class so that we can use this in further analysis to check on which bucket contains more defaulters

In [ ]:
#Classifying interest rate as per current market standards
def categorize_rate(a):
    if a>0.0 and a<=8.0:
        return "Low(0-8)"
    elif a>8.0 and a<=12.0:
        return "Medium(8-12)"
    else:
        return "High(12+)"

In [ ]:
df['int_rate_class']=df.int_rate.apply(lambda x:categorize_rate(x))

- Any Lending company checks for utilization percentage so dropping revol_bal
- issue_d is derived to new columns so dropping it
- loan_amnt & annual_inc since we will use lti
- dropping out_prncp,out_prncp_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,
last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,total_acc since these are not available during application
- dropping zip_code since it is having too much variation to get any insight

In [ ]:
df=df.drop(columns=['revol_bal','issue_d','loan_amnt','annual_inc','out_prncp','out_prncp_inv','total_rec_prncp'
                    ,'total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee',
                    'last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','total_acc','zip_code'],axis=1)

## Business Understanding
#### Three main categories of columns
- Customer Behaviour
- Loan Related Details
- Customer Information

Below we have segmented features based on it

In [ ]:
df_bhvr=['delinq_2yrs','inq_last_6mths','open_acc','revol_util','pub_rec','pub_rec_bankruptcies']

df_loan=['funded_amnt','funded_amnt_inv','term','installment','grade','sub_grade','dti'
'loan_status','total_pymnt','total_pymnt_inv','lti','issue_month','issue_year','profit_loss']

df_info=['emp_length','home_ownership','verification_status','purpose','addr_state']

In [ ]:
#checking for remaining null values
df.isnull().sum()

In [ ]:
df.pub_rec_bankruptcies.value_counts()

In [ ]:
#we will fill the values with 0.0 for null values
df.pub_rec_bankruptcies.fillna(value=0.0,inplace=True)

Dataset after processing missing values & applying business understanding

In [ ]:
df.head()

In [ ]:
df.shape

# Data Analysis

## Univariate Analysis

In [ ]:
#function for box plots 
def boxplot(x,y,hue,title,ax):
    sns.boxplot(x,y=y,data=df,ax=ax)
    plt.savefig(title+".png")
    #plt.title(title)
    plt.plot()

In [ ]:
#function for countplot 
def countplot(a,title,hue,order,rot,df):
    plt.figure(figsize=(17,8))
    p1=sns.countplot(x=a,hue=hue,order=order,data=df)
    for p in p1.patches:
        y=p.get_bbox().get_points()[1,1]
        p1.annotate('{:.1f}%'.format(y*100/len(df)), (p.get_x().mean(), p.get_height()))
    p1.set_xticklabels(p1.get_xticklabels(), rotation=rot, ha="right", fontsize=12)
    plt.savefig(title+".png")
    plt.title(title)
    plt.plot()

In [ ]:
#function for distplot
def distplot(x,ax,title):
    sns.distplot(x,ax=ax)
    plt.savefig(title+".png")
    #plt.title(title)
    plt.plot()

In [ ]:
#plot continuos variables
def univ_cont(x,title):
    f,(a1,a2)=plt.subplots(1,2,figsize=(8,4))
    boxplot(None,x,None,title+"_box",a1)
    distplot(x,a2,title+"_dist")
    f.suptitle(title)
    plt.tight_layout()
    f.subplots_adjust(top=0.87)
    plt.plot()

In [ ]:
#function for count_subplot 
def cntsubplot(x,df,title,hue,rot,ax):
    #plt.figure(figsize=(15,7))
    p1=sns.countplot(x=x,hue=hue,data=df,ax=ax)
    for p in ax.patches:
        y=p.get_bbox().get_points()[1,1]
        p1.annotate('{:.1f}%'.format(y*100/df.shape[0]), (p.get_x().mean(), p.get_height()))
    p1.set_xticklabels(p1.get_xticklabels(), rotation=rot, ha="right", fontsize=12)
    ax.set_title(title)
    plt.tight_layout()
    #Pplt.suptitle()
    plt.plot()
    plt.savefig(title+".png")

### Continuous Variables

In [ ]:
univ_cont(df.int_rate,"Interest_Rates")
univ_cont(df.funded_amnt,"Funded_amt")
univ_cont(df.dti,"debt_to_income")
univ_cont(df.Lti,"Loan_to_income")
univ_cont(df.revol_util,"Utilization Percentage")
univ_cont(df.installment,"Installment")
univ_cont(df.profit_loss,"Profit and Loss")

In [ ]:
cols = ["int_rate","funded_amnt","Lti","installment","profit_loss","revol_util","dti"]
for i in cols:
    print("Description for column: ",i)
    print(df[i].describe())
    print()
    print("----------------------------------------")

In [ ]:
#we see a lot of outliers are present above 50%

#sns.countplot(x=df[df.Lti>0.5]['loan_status'],data=df)
#sns.countplot(x=df['loan_status'],data=df)

#sns.countplot(x=df.loan_status,data=df)

## Inferences :
- Majority of loans have a interest rate of 11.83 with little skewness in data
- Funded amount is left skewed with majority of amount at 9600
- Loan to income ratio is left skewed where majority of people have 16% loans in comparison to their annual income
- Utilisation percentage of revolving amount mostly ranges from 25% to 72%. Most of the people have utilised 49% of it.
- installment is left skewed where most of the loans have Rs 280 as installments.
- Overall there is an average profit of 9.51 with loss upto 100 and profit upto 68
- dti has no outliers & varies from 0 to 30 with median 13.38

There are no outliers present for dti we will group this data too into high,medium & low.

As per the reports lower the dti, higher the chances of getting the loan accepted. Lenders expect the dti should be atleast less than 35% which is true for all conditions here.

#### Type driven derived metrics

after infering from univariate analysis on continuous data we can use the following for further analysis

In [ ]:
#function to categorize dti
def categorize_dti(a):
    if a>0.0 and a<=10.0:
        return "Low(0-10)"
    elif a>10.0 and a<=20.0:
        return "Medium(10-20)"
    else:
        return "High(20+)"

Creating another feature dti_class like int_rate_class to further use it for analysing defaulters behaviour

In [ ]:
df['dti_class']=df.dti.apply(lambda x: categorize_dti(x))

Creating Lti_class for further analysis

In [ ]:
#function to categorize lti
def categorize_lti(a):
    if a>0.0 and a<=0.1:
        return "Low(0-10)"
    elif a>0.10 and a<=0.20:
        return "Medium(10-20)"
    else:
        return "High(20+)"

In [ ]:
df['Lti_class']=df.Lti.apply(lambda x: categorize_lti(x))

Creating exp_class for further analysis

In [ ]:
#function to categorize experiences
def categorize_exp(a):
    if a>0 and a<=3:
        return "Junior"
    elif a>3 and a<=6:
        return "Mid Senior"
    else:
        return "Senior"

In [ ]:
df['exp_class']=df.emp_length.apply(lambda x: categorize_exp(x))

As per domain knowledge revol_util should be atleast < 30%. Based on data avaiable lets create revol_class

In [ ]:
#function to categorize revol_util
def categorize_revol(a):
    if a>0.0 and a<=10.0:
        return "Low(0-10)"
    elif a>10.0 and a<=20.0:
        return "Medium(10-20)"
    else:
        return "High(20+)"

In [ ]:
df['revol_class']=df.revol_util.apply(lambda x: categorize_revol(x))

### Categorical Features

In [ ]:
countplot(df.grade,"Overview of Grade",None,["A","B","C","D","E","F","G"],0,df)
countplot(df.sub_grade,"Overview of Sub_Grade",None,df.sub_grade.value_counts().index,0,df)
countplot(df.emp_length,"Overview of Employee Experience",None,df.emp_length.value_counts().index,0,df)
countplot(df.home_ownership,"Overview of Home Ownership",None,None,0,df)
countplot(df.verification_status,"Overview of Verification Status",None,None,0,df)
countplot(df.loan_status,"Overview of Loan Status",None,None,0,df)
countplot(df.purpose,"Overview of Purpose",None,None,44,df)
countplot(df.addr_state,"Overview of State",None,None,51,df)
countplot(df.issue_month,"Overview of Issue Months",None,["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep", "Oct","Nov","Dec"],0,df)
countplot(df.issue_year,"Overview of Issue Years",None,None,0,df)
countplot(df.term,"Overview of term",None,None,0,df)
countplot(df.int_rate_class,"Overview of Interest Rates",None,None,0,df)
countplot(df.dti_class,"Overview of Dti",None,None,0,df)
countplot(df.Lti_class,"Overview of Lti",None,None,0,df)
countplot(df.revol_class,"Overview of Utilization Charges",None,None,0,df)

### Inferences from above plots:
- grade - the popular grades of loan is A,B & C while B being highest (30.3%)
- sub_grade - after ordering the data it is seen how popularity is distributed for eg B>A as per grades even after A4 (7.4%) is highest because if we see B1-B5 & A1-A5; B has higher values
- emp_length - the experience is one of the factor to determine loan applicant we see 10 years & more have taken the highest loans (22.6%) & next if we leave out the 1 year experience one we see decreasing trend of taking loans with increasing experience
- home_ownership - Rent & Mortgage  are most occuring
- verification status - the ratio is nearly equal, need to check impact on loan_status
- loan_status - 14.4% are the defaulters
- purpose - debt_consolidation(47.1%) accounts for most of the loans and is mostly paid
- addr_state - it shows highest loan taking states CA,NY,FL & TX; CA being the top with 18%
- issue_month - shows the trend of taking highest loans in the month of Dec (may be due to their festivals). The trend increases from Jan - Dec approx
- issue_year - the loan sanctions have increased considerably over the years
- term shows most loans are of 36 months
- interest rate is on higher side
- most people has dti in medium scale
- lti is nearly same for both the class high & medium
- utilization charge is mainly high for max cases

## Segmented Univariate Analysis

Previously, we segmented the columns as per business understanding. Picking up the customer behaviour features to check if it actually helps to identify defaulters

In [ ]:
#replacing revol_util with revol_class
df_bhvr=np.asarray(df_bhvr)
df_bhvr[df_bhvr=='revol_util']='revol_class'

In [ ]:
#sns.countplot(x=df.issue_year,hue=df.loan_status,data=df)
for i in df_bhvr :
    countplot(df[i],"Dependency of loan_status on "+i,df.loan_status,None,0,df)

## Inferences 
- delinq_2yrs has impact on loan status if compare ratios of fully paid to charged off it is more for 0 & eventually decreases i.e. is more defaulter cases
- persons who have inquired in past 6 months the ratio of paid to defaulter decreases with number
- leaving 5-10 open accounts the ratio of paid to defaulters is more 
- having public record also shows decreased ratio
- having high utilization rate is showing increased defaulters 
- having bankruptcy record also shows similar trend of decreased ratio

Here ratio means Fully Paid to Defaulters since there gap is decreasing their ratio is too which signifiesmore defaulters

#### Thus issuing loans to such customers should be considered risky

data based on other two segments loan details & customer information

In [ ]:
countplot(df.grade,"Impact of Grade on Loan Status","loan_status",["A","B","C","D","E","F","G"],0,df)
countplot(df.sub_grade,"Impact of Sub_Grade on Loan Status","loan_status",df.sub_grade.value_counts().index,0,df)
countplot(df.emp_length,"Impact of Employee Experience on Loan Status","loan_status",df.emp_length.value_counts().index,0,df)
countplot(df.home_ownership,"Impact of Home Ownership on Loan Status","loan_status",None,0,df)
countplot(df.verification_status,"Impact of Verification Status on Loan Status","loan_status",None,0,df)
countplot(df.purpose,"Impact of Purpose on Loan Status","loan_status",None,44,df)
countplot(df.addr_state,"Impact of State on Loan Status","loan_status",None,51,df)
countplot(df.issue_month,"Impact of Issue Months on Loan Status","loan_status",["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep", "Oct","Nov","Dec"],0,df)
countplot(df.issue_year,"Impact of Issue Years on Loan Status","loan_status",None,0,df)
countplot(df.term,"Impact of term on Loan Status","loan_status",None,0,df)

#### Inferences:
- The proportion of fully paid to charged off is less for grade A loans whereas it decreases moving towards grade G. So it can be inferred grade G loans have more chance of defaulting. Similar case is for sub grades as well.
- Employees with 10+ years of experience are taking more loans and number of defaulter is also more here. But for the employee experience (0-9), we can observe that employee experience have inverse effect on loan status. The less years of experience is taking more number of loans and is resulting to more defaulters. So emp_length is one of the driving factor for loan status.
- Persons with rented homes are taking most of the loans.
- debt_consolidation(47.1%) accounts for most of the loans and is mostly paid but also accounts to defaulters(7.1%)
- Number of borrower from CA is most and it also has the highest number of defaulter.
- Number of fully paid as well as charged off loans are increasing yearly and it is maximum during december month.
- The proportion of fully paid to charged off loan is most for 60 months loans compared to 36 months loan. Term can be a driving factor to identify defaulters

## Bivariate Analysis

In [ ]:
plt.figure(figsize=(15,10))
sns.heatmap(df.corr(),cmap='Greens', annot=True)
#plt.ylim(bottom=10,top=10)
plt.show()

#### Inferences:
- We can see a correlation of dti and open_acc. Means as many number of open accounts are there in a borrrower credits file, the dti would go on increasing.
- open_acc is also correlated to total payment. 
- Funded amount and amount invested has a high correlation indicating that more amount funded needs more investment.
- Number of instalments have a strong correlation to total payment and total investment. As the amount increses, the number of installment also increases. Similar case is for loan term.

In [ ]:
#function for scatterplot
def scatterplot(title,x,y,hue,style):
    plt.figure(figsize=(15,8))
    sns.scatterplot(data=df, x=x, y=y, hue=hue, style=style)
    plt.savefig(title+".png")
    plt.title(title)
    plt.plot()

In [ ]:
scatterplot("Impact of DTI and interest rate on defaulting","int_rate","dti",'loan_status',None)
scatterplot("Impact of grade and interest rate on defaulting","int_rate","sub_grade","loan_status","grade")
scatterplot("grade to interest rate scatter plot","int_rate","emp_length","loan_status","term")
scatterplot("Impact of home ownership and interest rate on defaulting","int_rate","home_ownership","loan_status",None)

### Inferences
- Increasing rate of interest with dti shows more loan defaulter.
- Lower grade of loan with increasing rate of interest shows higher chances of defaulter.
- Loan with 60 months term shows greater number of defaulter when rate of interest is high.
- 10+ years of employee experience shows more defaulter with higher interest rates.
- Mortgaged and rented home owners shows more number of loan with more defaulters when interest rate is medium to high

# Pls Check some findings with Lti & revol_util there will be driver variables like above

In [ ]:
util

In [ ]:
f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Lti_class on Loan Status",'Lti_class',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Lti_class on Loan Status",'Lti_class',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Dti_class on Loan Status",'dti_class',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Dti_class on Loan Status",'dti_class',0,a2)


f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Experience on Loan Status",'exp_class',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Experience on Loan Status",'exp_class',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(20,8))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Purpose on Loan Status",'purpose',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Purpose on Loan Status",'purpose',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Grade on Loan Status",'grade',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Grade on Loan Status",'grade',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Interest Rate Class on Loan Status",'int_rate_class',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Interest Rate Class on Loan Status",'int_rate_class',0,a2)


f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.verification_status=='Verified'],"Impact of Verified Source of Income & Utilization credit class on Loan Status",'revol_class',0,a1)
cntsubplot('loan_status',df[df.verification_status=='Not Verified'],"Impact of Not Verified Source of Income & Utilization credit class on Loan Status",'revol_class',0,a2)

### Inferences
- Impact of  loan to income ratio is clearly visible if it is on higher side then the default % increases even if it is verified source of income
- Similarly for dti, being in the range of 10%-20% leads to more number of defaulters devoid of verification
- The senior employees(7+ years) are contributing more in the defaulters bucket irrespective of verification status
- the purpose for debt_consolidation attracts more & also results to defaulters too
- higher grades loans are still resulting to defalters
- int_rate & revol util results to increase in defaulters with increase in vale

In [ ]:
f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & Experience_class on Loan Status",'exp_class',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & Experience_class on Loan Status",'exp_class',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & dti_class on Loan Status",'dti_class',0,a1)
- Impact of  loan to income ratio is clearly visible if it is on higher side then the default % increases even if it is verified source of income
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & dti_class on Loan Status",'dti_class',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & Lti_class on Loan Status",'Lti_class',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & Lti_class on Loan Status",'Lti_class',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & term on Loan Status",'term',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & term on Loan Status",'term',0,a2)

f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & revol_class on Loan Status",'revol_class',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & revol_class on Loan Status",'revol_class',0,a2)


f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & int_rate_class on Loan Status",'int_rate_class',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & int_rate_class on Loan Status",'int_rate_class',0,a2)


f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & purpose on Loan Status",'purpose',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & purpose on Loan Status",'purpose',0,a2)


f,(a1,a2)=plt.subplots(1,2,sharey=True,figsize=(15,7))
cntsubplot('loan_status',df[df.home_ownership=='RENT'],"Impact of Rented Home & grade on Loan Status",'grade',0,a1)
cntsubplot('loan_status',df[df.home_ownership=='MORTGAGE'],"Impact of Mortgaged Home & grade on Loan Status",'grade',0,a2)

### Inference

- seniors accounts for more defaults but juniors with rented house also accounts to more default than mortgaged
- having medium dti results in more defaulting
- having high loan to income ratio results in defaulting
- term for 30 & 60 months with mortgaged home results in more defaulting but incase of rented 36 months attracts more defaulters
- revol_class & int_rates_class being high results to being charged off
- defaulters in rented home with purpose of debt_consolidation is high
- having high grade loans & rented home results in more getting defaulters

### Conclusions
- The provided data has lot of null and missing values. Columns with more that 50% null have been droped and null have been enriched wherever applicable
- Few of the columns had malformed data. Those were standardized.
- Busines driven, data driven and type driven derived columns are created as required.
- After data understanding and cleanup, univariate and bivariate analysis have been done.
- Few of the strong driver variables identified are as follows:

    - Increasing rate of interest shows more loan defaulter. Loans with greater interest might be a risk.
    - Number of borrower from CA is most and it also has the highest number of defaulter. Borrower from state CA needs to be scrutunized properly.
    - Lower grade of loan with increasing rate of interest shows higher chances of defaulter.
    - Loan with 60 months term shows greater number of defaulter when rate of interest is high.
    - Mortgaged and rented home owners shows more number of loan with more defaulters when interest rate is medium to high.
    - most of the people have taken loan for debt consolidation with high interest rate.
    
    
    
    
    
    
    
    
    
# please check the below findings and find out main points
    

- pub_rec,pub_rec_bankruptcies & delinq_2yrs are showing higher default rates
- seniors accounts for more defaults but juniors with rented house also accounts to more default than mortgaged

- the purpose for debt_consolidation attracts more & also results to defaulters too
- Impact of  loan to income ratio is clearly visible if it is on higher side then the default % increases
- term for 30 & 60 months with mortgaged home results in more defaulting but incase of rented 36 months attracts more defaulters

- revol_class & int_rates_class being high results to being charged off
- defaulters in rented home with purpose of debt_consolidation is high
- having high grade loans & rented home results in more getting defaulters